
@model WDT_Assignment_2.Models.OwnerInventory
@*
http://localhost:5000/Owner/OwnerSetStock
*@
      
      <h3>Set Item Stock Level</h3>
      <table class="table">
        <thead>
            <tr>
                <th>
                    Product ID
                </th>
            <th>
                    Product Name
                </th>
                <th>
                    Current Stock Level
                </th>
                <th>
                    Quantity to restock
                </th>
                <th>Set Stock
                </th>


            </tr>
        </thead>
    <tbody>
            <tr>
                <td>   

                <td>
                      PRODUCT NAME HERE  
                </td>
                 <td>

                </td>
                <td>
                   @* <input asp-for ="StockLevel" type="number" name="Stock Level" placeholder="Enter Quantity" min="1" max="100">  *@    
                </td>
                <td>
                 <a asp-action="UpdateOwnerStock" asp-route-id="">Set Stock</a>
                </td>

            </tr>

        </tbody>
 
    </table>



      <a class ="linkButton" asp-area="" asp-controller="Owner" asp-action="OwnerIndex">Home Page</a> 

