
@model WDT_Assignment_2.Models.OwnerInventory

@*
http://localhost:5000/Owner/OwnerSetStock

*@
      
      <h3>Set Item Stock Level</h3>
      <table class="table">
        <thead>
            <tr>
                <th>
                    Product ID
                </th>
            <th>
                    Product Name
                </th>
                <th>
                    Current Stock Level
                </th>
                <th>
                    Quantity to restock
                </th>


            </tr>
        </thead>
        <tbody>

                <tr>
                    <td>
                    <div  asp-for="ProductID"></div>
                         @Html.DisplayFor(model => model.ProductID)
                    <td>
                PRODUCT NAME HERE  
              
                
            </td>
            <td>
                         @Html.DisplayFor(model => model.StockLevel)
                    </td>
                    <td>
                        <input type="number" name="quantity" min="1" max="100">      
                    </td>
            <td>
                <input type="submit"> 
            </td>

                </tr>

        </tbody>
    </table>


      <a class ="linkButton" asp-area="" asp-controller="Owner" asp-action="OwnerIndex">Home Page</a> 

