<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
             <a class ="linkButton" asp-area="" asp-controller="Owner" asp-action="OwnerSetStock">Set Stock(dynamic)</a> 
        
            <a class ="linkButton" asp-area="" asp-controller="Owner" asp-action="OwnerIndex">Home Page</a> 
</body>
</html>
