<!DOCTYPE html>
@*
http://localhost:5000/Owner/OwnerSetStock
*@
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
                  
      <h3>Set Item Stock Level</h3>
      <table class="table">
        <thead>
            <tr>
                <th>
                    Item Name
                </th>
                <th>
                    Quantity
                </th>
                <th>

                </th>


            </tr>
        </thead>
        <tbody>
            @*
            dynamically generate selected item here  
           *@
                <tr>
                    <td>
                         SAMPLE PRODUCT NAME 
                    </td>
                    <td>
                         <input type="number" name="quantity" min="1" max="100">      
                    </td>
                    <td>
                        <input type="submit"> 
                    </td>

                </tr>

        </tbody>
    </table>

        
      <a class ="linkButton" asp-area="" asp-controller="Owner" asp-action="OwnerIndex">Home Page</a> 
</body>
</html>
