
@model WDT_Assignment_2.Models.OwnerInventory

@*
http://localhost:5000/Owner/OwnerSetStock

*@
      
      <h3>Set Item Stock Level</h3>
      <table class="table">
        <thead>
            <tr>
                <th>
                    Item Name
                </th>
                <th>
                    Quantity
                </th>
                <th>

                </th>


            </tr>
        </thead>
        <tbody>
            @*
            dynamically generate selected item here  
           *@

                <tr>
                    <td>

                    </td>
                    <td>
                         <input type="number" name="quantity" min="1" max="100">      
                    </td>
                    <td>
                        <input type="submit"> 
                    </td>

                </tr>

        </tbody>
    </table>

<form asp-action="OwnerSetStock">   
    <div class="form-group">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label asp-for="ProductID" class="control-label"></label>
               <input asp-for="ProductID" class="form-control" />
 
            </div>
        </form>
      <a class ="linkButton" asp-area="" asp-controller="Owner" asp-action="OwnerIndex">Home Page</a> 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}