@{
    ViewData["Title"] = "OwnerIndex";
}

<h2>Owner Homepage</h2>

<h3>@ViewData["Message"]</h3>

   <div> 
        <a class ="linkButton" asp-area="" asp-controller="Owner" asp-action="OwnerInventory">Inventory</a>
        <a class ="linkButton" asp-area="" asp-controller="Owner" asp-action="OwnerProcessStockRequest">Process Stock Request</a>

   
        <a class ="linkButton" asp-area="" asp-controller="Home" asp-action="Login">Logout</a>
    </div>
             

