<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h3>This is the owner inventory page</h3>
        <p>Table will go here</p>
      <div>   
    <a class ="linkButton" asp-area="" asp-controller="Owner" asp-action="OwnerIndex">Home Page</a> 
        
        <a class ="linkButton" asp-area="" asp-controller="Owner" asp-action="OwnerIndex">Logout</a> </div>
        
</body>
</html>
