<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    
      <div>
        <a class ="linkButton" asp-area="" asp-controller="Owner" asp-action="OwnerIndex">Owner Login</a> 
        <a class ="linkButton" asp-area="" asp-controller="Franchise" asp-action="FranchiseIndex">Franchise Login</a> 
        <a class ="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerIndex">Customer Login</a> 
      </div>

</body>
</html>
