
    

      <h2>Welcome to Marvelous Magic!</h2>
      <a class= "linkButton" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
      <a class= "linkButton" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
