<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    
      <div>   <a class ="linkButton" asp-area="" asp-controller="Owner" asp-action="OwnerIndex">Owner</a> 
        <a class ="linkButton" asp-area="" asp-controller="Franchise" asp-action="FranchiseIndex">Franchise</a> 
        <a class ="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerIndex">Customer</a> </div>

</body>
</html>
