@model WDT_Assignment_2.Models.StockRequest 
@{ ViewData["Title"] = "Create New Stock Request"; }
<h3>Create New Stock Request</h3>
<hr/> @* Based on the ContosoUniversity example*@
<div class="row">
    <div class="col-md-4">
        <form asp-action="FranchiseStockRequest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" type="number" min= "1" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductID" class="control-label"></label>
                <select asp-for="ProductID" class="form-control" asp-items="@ViewBag.OwnerInventory">
                    <option value="ProductID">Select Product</option>
                </select>
                <span asp-validation-for="ProductID" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="linkButton" /> @*If this cocks up, change the name of "Create"*@
            </div>
        </form>
    </div>
</div>
@*
<body>
     <h3>Select New Item for Stock Request</h3>
        <h4>Owner Inventory</h4>
           
      <table class="table">
        <thead>
            <tr>
                <th>
                    ProductID
                </th>
                <th>
                    Product Name
                </th>
                <th>
                   Current Stock Level
                </th>
                <th>
                    Set Stock Level       
                 </th>

            </tr>
        </thead>
        <tbody>

                <tr>
                    <td>
                        SAMPLE ID
                    </td>
                    <td>
                        SAMPLE NAME
                    </td>
                    <td>
                        SAMPLE QUANTITY
                    </td>
                    <td>
                        
                    <a  asp-area="" asp-controller="Franchise" asp-action="FranchiseSetStock">Process Stock Request(dynamic)</a>

                      
                        
                    </td>
                </tr>

        </tbody>
    </table>
    <div> <a class="linkButton" asp-area="" asp-controller="Franchise" asp-action="FranchiseIndex">Home Page</a> </div>
</body>
</html>
*@