
        <h2>Franchise Homepage</h2>
        <div>
            <a class ="linkButton" asp-area="" asp-controller="Franchise" asp-action="FranchiseInventory">Store Inventory</a>
            <a class ="linkButton" asp-area="" asp-controller="Franchise" asp-action="FranchiseStockRequest">Create Stock Request</a>
            <a class ="linkButton" asp-area="" asp-controller="Franchise" asp-action="FranchiseNewItem">Request New Stock Item</a>

        </div>
