body {
    padding-top: 50px;
    padding-bottom: 20px
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%
}

/* QR code generator */
#qrCode {
    margin: 15px
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none
    }
}

.linkButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 10px 2px
}

.creditCardForm {
    max-width: 700px;
    background-color: #fff;
    margin: 100px auto;
    overflow: hidden;
    padding: 25px;
    color: #4c4e56
}

    .creditCardForm label {
        width: 100%;
        margin-bottom: 10px
    }

    .creditCardForm .heading h1 {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        color: #4c4e56
    }

    .creditCardForm .payment {
        float: left;
        font-size: 18px;
        padding: 10px 25px;
        margin-top: 20px;
        position: relative
    }

        .creditCardForm .payment .form-group {
            float: left;
            margin-bottom: 15px
        }

        .creditCardForm .payment .form-control {
            line-height: 40px;
            height: auto;
            padding: 0 16px
        }

    .creditCardForm .owner {
        width: 63%;
        margin-right: 10px
    }

    .creditCardForm .CVV {
        width: 35%
    }

    .creditCardForm #card-number-field {
        width: 100%
    }

    .creditCardForm #expiration-date {
        width: 49%
    }

    .creditCardForm #credit_cards {
        width: 50%;
        margin-top: 25px;
        text-align: right
    }

    .creditCardForm #pay-now {
        width: 100%;
        margin-top: 25px
    }

    .creditCardForm .payment .btn {
        width: 100%;
        margin-top: 3px;
        font-size: 24px;
        background-color: #2ec4a5;
        color: white
    }

    .creditCardForm .payment select {
        padding: 10px;
        margin-right: 15px
    }

.transparent {
    opacity: 0.2
}



.creditCardForm #credit_cards {
    text-align: left
}
}
