
        <div>
        <a class ="linkButton" asp-route-id = "1" asp-area="" asp-controller="Customer" asp-action="CustomerDisplayInventory">CBD</a>
        <a class ="linkButton" asp-route-id = "2" asp-area="" asp-controller="Customer" asp-action="CustomerDisplayInventory">North</a>
        <a class ="linkButton" asp-route-id = "3" asp-area="" asp-controller="Customer" asp-action="CustomerDisplayInventory">South</a>
        <a class ="linkButton" asp-route-id = "4" asp-area="" asp-controller="Customer" asp-action="CustomerDisplayInventory">East</a>
        <a class ="linkButton" asp-route-id = "5" asp-area="" asp-controller="Customer" asp-action="CustomerDisplayInventory">West</a>
        </div>
        
        <a class ="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerIndex">Home</a> 

