@model WDT_Assignment_2.Models.Cart 
@*
Validation from adapted from https://tutorialzine.com/2016/11/simple-credit-card-validation-form
*@


<h2>Cofirm Paymnet</h2>
   
<form asp-action="CustomerConfirmPurchase" >
   
   <div></div>
    <div class="form-group">
        
        <h4>Name On Card</h4>
        <input  class="form-control" id="cardOwner" />

    </div>
    <div class="form-group">
       <h4>CVV</h4>
        <input  class="form-control" id="myField" maxlength="3"/>
       
    </div>
    <div class="form-group">
       <h4>Card Number</h4>
        <input class="form-control" id="cardNo" maxlength="19"/>

    </div>

        
            <div class="form-group" id="expiration-date">
                <label>Expiration Date</label>
                <select>
                    <option value="01">January</option>
                    <option value="02">February </option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                <select>
                    <option value="16"> 2016</option>
                    <option value="17"> 2017</option>
                    <option value="18"> 2018</option>
                    <option value="19"> 2019</option>
                    <option value="20"> 2020</option>
                    <option value="21"> 2021</option>
                </select>
            </div>
            <div class="form-group" id="credit_cards">
                <img src="http://localhost:5000/images/visa.jpg" id="visa">
                <img src="http://localhost:5000/images/mastercard.jpg" id="mastercard">
                <img src="http://localhost:5000/images/amex.jpg" id="amex">
            </div>
              
        
        <div class="form-group">
        <div class="linkButton" onclick="validate()">Purchase</div>
        <input type="submit" value=" " class="linkButton" id="submit" style="display: none" />

    
          @*  <a class ="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerConfirmPurchase">Confirm Purchase</a> *@
    
            <a class ="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerViewCart">Cancel</a> 
        </div>


        </form>

  
