@model WDT_Assignment_2.Models.Store 
@* http://localhost:5000/Customer/CustomerDisplayInventory
If anything isn't happening the way it should, remember I removed 
//builder.Entity<StoreInventory>().ToTable("StoreInventory"); from Context
*@
<h2> @Html.DisplayFor(model => model.Name)</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                ProductID
            </th>
            <th>
                Product
            </th>
            <th>
                Current Stock Level
            </th>
            <th>
                Select Quantity
            </th>
            <th>
                Add to Cart
            </th>
        </tr>
    </thead>
        <tbody>
         
            <tr>
                <td>
                    @Html.DisplayFor(model => model.StoreInventory)
                </td>
            
               @foreach(var item in Model.StoreInventory) {
            
                <td>
                    @Html.DisplayFor(modelItem => item.ProductID)
                </td>
            }
                <td>

                </td>
                <td>
                </td>
                <td>
                    
                </td>
            </tr>

        </tbody>
</table>
                <input type="number" name="quantity" min="1" max="100" value="Add"> @* Need to set max value as current stores stock level*@

<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>

            </td>
        </tr>
    </tbody>
</table>
<a class="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerViewCart">View Cart</a>
<a class="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerStoreSelect">Change Store</a>
<a class="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerIndex">Home</a>