@model WDT_Assignment_2.Models.Store


@*
http://localhost:5000/Customer/CustomerDisplayInventory
*@
    <div>
         <table class="table">
                <thead>
                    <tr>
                        <th>
                            ProductID
                        </th>
                        <th>
                            Product Name
                        </th>
                        <th>
                           Current Stock Level
                        </th>
                        <th>
                            Select Quantity   
                         </th>      
                            <th>
                               Add to Cart 
                            </th>
                    </tr>
                </thead>
                <tbody>
                    @*
                      Foreach loop to dynamically generate products here  
                   *@
                        <tr>
                            <td>
                                SAMPLE ID
                            </td>
                            <td>
                                SAMPLE NAME
                            </td>
                            <td>
                                SAMPLE CURRENT STOCK LEVEL
                            </td>
                            <td>
                                <input type="number" name="quantity" min="1" max="100" value="Add">    
                                @* Need to set max value as current stores stock level*@
                            </td>
                            <td>
                              <a asp-action="UpdateOwnerStock" asp-route-id="@item.ProductID">Set Stock</a> 
                            </td>
                        </tr>

                </tbody>
            </table>
            <a class ="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerViewCart">View Cart</a> 
            <a class ="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerStoreSelect">Change Store</a>  
        </div>
        <a class ="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerIndex">Home</a> 
