

<h2>Customer Homepage</h2>
        <div>
            <a class ="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerStoreSelect">Select Store</a>
            <a class ="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerViewCart">View Cart</a>
            <a class ="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerPurchaseHistory">View Purchase History</a>
        </div>
       @* <a class ="linkButton" asp-area="" asp-controller="Home" asp-action="Login">Logout</a> *@
