<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
        <div>
            <div>
                <p>Cart goes here</p>
            </div>
            <a class ="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerCheckOut">Check Out</a> 
        </div>
        <a class ="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerIndex">Home</a> 

</body>
</html>
