@model WDT_Assignment_2.Models.Cart
@*Ok, I think this means cart has been passed*@
    <div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                         @foreach(var item in Model.ItemsInCart) {
                        
                         @Html.DisplayFor(modelItem => item.Product.Name)
                        }
                            ProductID
                        </th>
                        <th>
                            Product Name
                        </th>
                        <th>
                            Quantity
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @* Foreach loop to dynamically generate products here *@
                    <tr>
                        <td>
                            SAMPLE ID
                        </td>
                        <td>
                            SAMPLE NAME
                        </td>
                        <td>
                            SAMPLE REMOVE FROM CART @* Need to set max value as current stores stock level*@
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a class="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerCheckOut">Check Out</a>
    </div>
    <a class="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerIndex">Home</a>
