<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
        <div>
            <a class ="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerStoreSelect">Select Store</a>
            <a class ="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerViewCart">View Cart</a>
            <a class ="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerPurchaseHistory">View Purchase History</a>
        </div>
        <a class ="linkButton" asp-area="" asp-controller="Home" asp-action="Login">Logout</a> 
</body>
</html>
