<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>

    <body>
        <div>
            <div>
                <h3>Purchase History</h3>
                         <table class="table">
                <thead>
                    <tr>
                        <th>
                            ProductID
                        </th>
                        <th>
                            Product Name
                        </th>

                        <th>
                            Quantity   
                         </th>  
                         <th>
                            Date and Time 
                         </th>    

                    </tr>
                </thead>
                <tbody>
                    @*
                      Foreach loop to dynamically generate products here  
                   *@
                        <tr>
                            <td>
                                SAMPLE ID
                            </td>
                            <td>
                                SAMPLE NAME
                            </td>
                            <td>
                                SAMPLE QUNATITY
                                @* Need to set max value as current stores stock level*@
                            </td>
                           <td>
                                SAMPLE DATE AND TIME
                            </td>
                        </tr>

                </tbody>
            </table>
            </div>

            </div>
            <a class ="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerIndex">Home</a> 
     
</body>
</html>
