<h5>Item removed from cart</h5>
<a class="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerCheckOut">Check Out</a>

<a class="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerIndex">Home</a>